@model BRTF_Booking.Models.Booking

@{
    ViewData["Title"] = "CreateRepeat";
}

<style>
    .btn-primary:hover {
        background-color: #21db21;
        border-color: #1dc41d;
    }
</style>

<h1>Create New Booking</h1>
<hr />
<div class="row" style="color: black">
    <div class="col-md-4">
        <form asp-action="CreateRepeat">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="User" class="control-label"></label>
                <input asp-for="UserID" type="hidden">
                <p>@Html.DisplayFor(model => model.User.FullName)</p>
            </div>
            <div class="form-group">
                <label asp-for="Room.Area" class="control-label"></label>
                <input asp-for="Room.AreaID"  type="hidden" >
                <p>@Html.DisplayFor(model => model.Room.Area.Name)</p>
            </div>

            <div class="form-group">
                <label asp-for="Room" class="control-label"></label>
                <input asp-for="RoomID"  type="hidden" >
                <p>@Html.DisplayFor(model => model.Room.Name)</p>
            </div>
            <div class="form-group">
                <label for="StartDate" class="control-label">Start</label>
                <input asp-for="StartDate" type="hidden">
                <p>@Html.DisplayFor(model => model.StartDate)</p>
            </div>
            <div class="form-group">
                <label for="EndDate" class="control-label">End</label>
                <input asp-for="EndDate"  type="hidden" >
                <p>@Html.DisplayFor(model => model.EndDate)</p>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href='@ViewData["returnURL"]'>Back to List</a>
</div>

