@model BRTF_Booking.Models.Booking

@{
    ViewData["Title"] = "Details";
}

<link rel="stylesheet" href="~/css/site.css" />

<h1>Details</h1>

<div style="color: black">
    <h4>Booking</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Room)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Room.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookingRequested)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookingRequested)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>


    @if (User.IsInRole("Admin") || User.IsInRole("Top-Level Admin"))
    {
        <a asp-route-id="@Model.ID" asp-action="CreateRepeat">Repeat Booking</a>
        <br />
        <br />
        <a asp-action="Index">Back to List</a>
    }
    @if (User.IsInRole("Student"))
    {
<a asp-route-id="@Model.ID" asp-action="CreateRepeat">Request Repeat Booking</a>
        <br />
        <br />
        <a asp-action="Calendar">Back to Calendar</a>
    }

</div>
