@model IEnumerable<BRTF_Booking.Models.Admin>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .btn-primary {
        color: #fff;
        background-color: #1dc21d;
        border-color: #1aab1a;
    }

        .btn-primary:hover {
            background-color: #21db21;
            border-color: #1dc41d;
        }

    .btn-primary-special {
        background: #097dea;
        background: linear-gradient(65deg, #0270D7 0, #0F8AFD 100%);
        color: #fff !important;
        border-width: 1px;
        border-radius: .25rem;
    }

        .btn-primary-special:hover {
            background: #0a82f5;
            background: linear-gradient(65deg, #027df0 0, #288bfc 100%);
        }
</style>

<h1>Admins</h1>

<p>
    <a asp-action="Create" class="btn btn-primary-special">New Admin</a>
</p>
<form asp-action="Index" method="get">
    <div class="container-fluid d-block d-lg-none">
        <div class="card-deck-wrapper">
            <div class="card-deck">
                @foreach (var item in Model)
                {
                    <div class="card mb-sm-3" style="min-width: 18rem;">
                        <h5 class="card-header"><strong>@Html.DisplayFor(modelItem => item.FullName)</strong></h5>
                        <div class="card-body">
                            <div class="media">
                                <div class="media-body ml-2">
                                    <p class="card-text">
                                        <strong>Email:</strong> @Html.DisplayFor(modelItem => item.Email)<br />
                                        <strong>Role:</strong> @Html.DisplayFor(modelItem => item.Role)<br />
                                    </p>
                                </div>
                            </div>
                            <div class="card-footer">
                                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <table class="table d-none d-lg-block">
        <colgroup>
            <col />
            <col />
            <col />
            <col />
        </colgroup>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Role)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Role)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>
