@model IEnumerable<BRTF_Booking.Models.User>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/scripts/jquery-3.3.1.min.js"></script>
<script src="~/scripts/bootstrap.min.js"></script>
<link href="~/Content/dataTables.bootstrap4.min.css" rel="stylesheet" />
<script src="~/scripts/jquery.dataTables.min.js"></script>
<script src="~/scripts/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#DataTable').DataTable();
        $('#checkBoxAll').click(function () {
            if ($(this).is(":checked")) {
                $(".chkCheckBoxId").prop("checked", true)
            }
            else {
                $(".chkCheckBoxId").prop("checked", false)
            }
        });
    });
</script>


<style>
    .btn-primary {
        color: #fff;
        background-color: #1dc21d;
        border-color: #1aab1a;
    }

        .btn-primary:hover {
            background-color: #21db21;
            border-color: #1dc41d;
        }

    .btn-primary-special {
        background: #097dea;
        background: linear-gradient(65deg, #0270D7 0, #0F8AFD 100%);
        color: #fff !important;
        border-width: 1px;
        border-radius: .25rem;
    }

        .btn-primary-special:hover {
            background: #0a82f5;
            background: linear-gradient(65deg, #027df0 0, #288bfc 100%);
        }
</style>

<h1>Users</h1>
<p class="text-danger">@TempData["Message"]</p>

<div class="float-right">
    <form asp-action="InsertFromExcelUser" asp-controller="Users" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label class="control-label">Upload Excel File:</label>
            <input type="file" class="" name="theExcel" /><br />
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <input type="submit" value="Upload Data ↑" class="btn btn-primary" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <a href="~/example_excel/user_upload_sample.xlsx">View Excel Template</a>
                </div>
            </div>
        </div>
    </form>
</div>
<p>
    <a asp-action="Create" class="btn btn-primary-special">New User</a>
</p>
<form asp-action="Index" method="get">
    <input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
    <input type="hidden" name="sortField" value="@ViewData["sortField"]" />
    <div class="form-horizontal">
        <button class="btn @(ViewData["Filtering"])" type="button" data-toggle="collapse" id="filterToggle" data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
            Filter/Search
        </button>
        <br />
        <br />
        <div class="collapse" id="collapseFilter">
            <div class="card card-body bg-light">
                <div class="row">
                    <div class="form-group col-md-3">
                        <label class="control-label">Search Student:</label>
                        @Html.TextBox("SearchName", null, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-3">
                        <label class="control-label">Search By ID:</label>
                        @Html.TextBox("SearchNumber", null, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-3">
                        <label class="control-label">Search Email:</label>
                        @Html.TextBox("SearchEmail", null, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-3 align-self-end">
                        <input type="submit" name="actionButton" value="Filter" class="btn btn-outline-primary" />
                        <a asp-action="Index" class="btn btn-outline-dark">Clear</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div asp-validation-summary="ModelOnly"></div>
    <table class="table">
        <thead>
            <tr>
                <th>

                    <label>Select All</label>
                    <br />
                    <input style="margin:auto" type="checkbox" name="checkBoxAll" id="checkBoxAll" />
                </th>
                <th>
                    <input type="submit" name="actionButton" value="StudentID" class="btn btn-link" />
                </th>
                <th>
                    <input type="submit" name="actionButton" value="Full Name" class="btn btn-link" />
                </th>
                <th>
                    <input type="submit" name="actionButton" value="Term and Program" class="btn btn-link" />
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" name="chkDelete" value="@item.ID" class="custom-checkbox chkCheckBoxId" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StudentID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProgramTerm.Group)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        <button type="submit" value="Delete" class="btn btn-sm btn-danger rounded-0" onclick="return confirm('Are you sure? This will delete all checked users')">
            <i class="fa fa-trash-o"></i> Delete
        </button>
    </div>
    <partial name="_PagingNavBar" />
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>

    $('#checkBoxAll').click(function (event) {
        if (this.checked) {
            // Iterate each checkbox
            $(':checkbox').each(function () {
                this.checked = true;
            });
        } else {
            $(':checkbox').each(function () {
                this.checked = false;
            });
        }
    });
</script>



@*<script>
        $(function () {

            $("#selectAll").click(function () {
                $("input[type=checkbox]").prop('checked', $(this).prop('checked'));

            });
        $("input[type=checkbox]").click(function () {
            if (!$(this).prop("checked")) {
            $("#selectAll").prop("checked", false);
        }
        });
    </script>
*@