@model BRTF_Booking.Models.ProgramTerm

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ProgramTerm Details</h1>

<div style="color: black">
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.StudentID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.StudentID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AcadPlan)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AcadPlan)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProgramDetail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProgramDetail.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StrtLevel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StrtLevel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastLevel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastLevel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Term)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Term)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
