@model IEnumerable<BRTF_Booking.Models.ProgramTerm>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Programs & Terms</h1>

<p>
    <a style=" display: inline-flex; font-size: 14px; letter-spacing: 0px; font-weight: 600; line-height: 16px; text-decoration: none !important; text-transform: uppercase; background: #097dea; background: linear-gradient(65deg, #0270D7 0, #0F8AFD 100%); color: #fff !important; border: none; border-radius: 2px; cursor: pointer; justify-content: center; padding: 16px 32px; height: 48px; text-align: center; white-space: nowrap " asp-action="Create">New Program Term</a>
</p>
<form asp-action="InsertFromExcel" asp-controller="Users" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label class="control-label">Upload Excel File:</label>
        <input type="file" class="" name="theExcel" /><br />
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="submit" value="Upload Data" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>
<form asp-action="Index" method="get">
    <input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
    <input type="hidden" name="sortField" value="@ViewData["sortField"]" />
    <div class="form-horizontal">
        <button class="btn @(ViewData["Filtering"])" type="button" data-toggle="collapse" id="filterToggle" data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
            Filter/Search
        </button>
        <div class="collapse" id="collapseFilter">
            <div class="card card-body bg-light">
                <div class="row">
                    <div class="form-group col-md-4">
                        <label class="control-label">Search Description:</label>
                        @Html.TextBox("SearchDescription", null, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-4 align-self-end">
                        <input type="submit" name="actionButton" value="Filter" class="btn btn-outline-primary" />
                        <a asp-action="Index" class="btn btn-outline-dark">Clear</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.User)
                </th>
                <th>
                    <input type="submit" name="actionButton" value="Academic Plan" class="btn btn-link" />
                </th>
                <th>
                    <input type="submit" name="actionButton" value="Program" class="btn btn-link" />
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StrtLevel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastLevel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Term)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AcadPlan)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProgramDetail.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StrtLevel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastLevel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Term)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <partial name="_PagingNavBar" />
</form>