@model IEnumerable<BRTF_Booking.Models.Room>

@{ 
    ViewData["Title"] = "Index"; 
}

<style>
    .btn-primary {
        color: #fff;
        background-color: #1dc21d;
        border-color: #1aab1a;
    }

        .btn-primary:hover {
            background-color: #21db21;
            border-color: #1dc41d;
        }

    .btn-primary-special {
        background: #097dea;
        background: linear-gradient(65deg, #0270D7 0, #0F8AFD 100%);
        color: #fff !important;
        border-width: 1px;
        border-radius: .25rem;
    }

        .btn-primary-special:hover {
            background: #0a82f5;
            background: linear-gradient(65deg, #027df0 0, #288bfc 100%);
        }
</style>

<h1>Rooms</h1>
@if (User.IsInRole("Admin") || User.IsInRole("Top-Level Admin"))
{
    <p>
        <a asp-action="Create" class="btn btn-primary-special">New Room</a>
    </p>
}
<form asp-action="Index" method="get">
    <input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
    <input type="hidden" name="sortField" value="@ViewData["sortField"]" />
    <div class="form-horizontal">
        <button class="btn @(ViewData["Filtering"])" type="button" data-toggle="collapse" id="filterToggle" data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
            Filter/Search
        </button>
        <div class="collapse" id="collapseFilter">
            <div class="card card-body bg-light">
                <div class="row">
                    <div class="form-group col-md-3">
                        <label class="control-label">Select by Area:</label>
                        @Html.DropDownList("AreaID", null, "All Locations", htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-3">
                        <label class="control-label">Search Room:</label>
                        @Html.TextBox("SearchRoom", null, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-2">
                        <label class="control-label">Enabled?</label>
                        <select class="form-control" name="enabled" id="enabled">
                            <option value="neither">N/A</option>
                            <option value="enabled">Enabled</option>
                            <option value="disabled">Disabled</option>
                        </select>
                    </div>
                    <div class="form-group col-md-3 align-self-end">
                        <input type="submit" name="actionButton" value="Filter" class="btn btn-outline-primary" />
                        <a asp-action="Index" class="btn btn-outline-dark">Clear</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>
                    <input type="submit" name="actionButton" value="Area" class="btn btn-link" />
                </th>
                <th>
                    <input type="submit" name="actionButton" value="Room" class="btn btn-link" />
                </th>
                @*<th>
                    <input type="submit" name="actionButton" value="Description" class="btn btn-link" />
                </th>*@
                <th>
                    <input type="submit" name="actionButton" value="Limit" class="btn btn-link" />
                </th>
                <th>
                    <input type="submit" name="actionButton" value="Enabled" class="btn btn-link" />
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Area.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.Limit)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Enabled)
                    </td>
                    <td>
                        @if (User.IsInRole("Admin") || User.IsInRole("Top-Level Admin"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.ID">Edit |</a> 
                            <a asp-action="Details" asp-route-id="@item.ID">Details |</a> 
                            <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <partial name="_PagingNavBar" />
</form>
